USE [TP_BDD_FINAL]
GO
/****** Object:  StoredProcedure [dbo].[sp_Reporte_3_RecaudacionPorTipoDetallado]    Script Date: 16/11/2025 01:19:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   PROCEDURE [dbo].[sp_Reporte_3_RecaudacionPorTipoDetallado]
    @Anio INT,                              
    @ConsorcioNombre VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE Spanish;

    IF @Anio IS NULL
    BEGIN
        RAISERROR('El parámetro @Anio es obligatorio', 16, 1);
        RETURN;
    END

    ;WITH TodosLosMeses AS (
        SELECT 1 AS MesNumero, 'Enero' AS NombreMes
        UNION ALL SELECT 2, 'Febrero'
        UNION ALL SELECT 3, 'Marzo'
        UNION ALL SELECT 4, 'Abril'
        UNION ALL SELECT 5, 'Mayo'
        UNION ALL SELECT 6, 'Junio'
        UNION ALL SELECT 7, 'Julio'
        UNION ALL SELECT 8, 'Agosto'
        UNION ALL SELECT 9, 'Septiembre'
        UNION ALL SELECT 10, 'Octubre'
        UNION ALL SELECT 11, 'Noviembre'
        UNION ALL SELECT 12, 'Diciembre'
    ),

    GastosPorTipo AS (
        SELECT 
            e.mes AS MesNumero,
            f.importe_tipo,
            SUM(f.importe) AS TotalGasto
        FROM dbo.factura f
        INNER JOIN dbo.consorcio c 
            ON f.consorcio_nombre = c.nombre
        INNER JOIN dbo.expensa e 
            ON e.consorcio_idconsorcio = c.idconsorcio 
            AND e.ano = @Anio
            AND e.mes = CASE LTRIM(RTRIM(f.mes))
                WHEN 'Enero' THEN 1 WHEN 'Febrero' THEN 2 WHEN 'Marzo' THEN 3
                WHEN 'Abril' THEN 4 WHEN 'Mayo' THEN 5 WHEN 'Junio' THEN 6
                WHEN 'Julio' THEN 7 WHEN 'Agosto' THEN 8 WHEN 'Septiembre' THEN 9
                WHEN 'Octubre' THEN 10 WHEN 'Noviembre' THEN 11 WHEN 'Diciembre' THEN 12
            END
        WHERE 
            (@ConsorcioNombre IS NULL OR c.nombre = @ConsorcioNombre)
            AND f.importe_tipo IS NOT NULL
        GROUP BY e.mes, f.importe_tipo
    )

    SELECT 
        m.MesNumero,
        m.NombreMes AS Mes,
        ISNULL([ADMINISTRACION], 0.00) AS Administracion,
        ISNULL([BANCARIOS], 0.00) AS Bancarios,
        ISNULL([GASTOS GENERALES], 0.00) AS Gastos_Generales,
        ISNULL([LIMPIEZA], 0.00) AS Limpieza,
        ISNULL([SEGUROS], 0.00) AS Seguros,
        ISNULL([SERVICIOS PUBLICOS AGUA], 0.00) AS Agua,
        ISNULL([SERVICIOS PUBLICOS LUZ], 0.00) AS Luz,
        (
            ISNULL([ADMINISTRACION], 0) + ISNULL([BANCARIOS], 0) + 
            ISNULL([GASTOS GENERALES], 0) + ISNULL([LIMPIEZA], 0) +
            ISNULL([SEGUROS], 0) + ISNULL([SERVICIOS PUBLICOS AGUA], 0) + 
            ISNULL([SERVICIOS PUBLICOS LUZ], 0)
        ) AS Total_Mes
    FROM TodosLosMeses m
    LEFT JOIN (
        SELECT * FROM GastosPorTipo
        PIVOT (
            SUM(TotalGasto)
            FOR importe_tipo IN (
                [ADMINISTRACION], [BANCARIOS], [GASTOS GENERALES], [LIMPIEZA],
                [SEGUROS], [SERVICIOS PUBLICOS AGUA], [SERVICIOS PUBLICOS LUZ]
            )
        ) AS PivotTable
    ) p ON m.MesNumero = p.MesNumero
    ORDER BY m.MesNumero;

    SET NOCOUNT OFF;
END
