USE [TP_BDD_FINAL]
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportaInquilinos]    Script Date: 16/11/2025 01:22:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   PROCEDURE [dbo].[sp_ImportaInquilinos]
    @RutaArchivo NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        TRUNCATE TABLE dbo.stg_Personas;
        
        DECLARE @Sql NVARCHAR(MAX);
        SET @Sql = N'
            BULK INSERT dbo.stg_Personas
            FROM ''' + @RutaArchivo + N'''
            WITH(
                FIRSTROW = 2,
                FIELDTERMINATOR = '';'',
                ROWTERMINATOR = ''0x0A'',
                CODEPAGE = ''65001'',
                TABLOCK
            );';
        
        EXEC sp_executesql @Sql;
        
        IF OBJECT_ID('tempdb..#PersonasLimpias') IS NOT NULL 
            DROP TABLE #PersonasLimpias;
        
        IF OBJECT_ID('tempdb..#Duplicados') IS NOT NULL DROP TABLE #Duplicados;
        
        SELECT DNI, COUNT(*) AS Cantidad
        INTO #Duplicados
        FROM dbo.stg_Personas
        WHERE [DNI] IS NOT NULL 
          AND LTRIM(RTRIM([DNI])) <> ''
          AND LEN(LTRIM(RTRIM([DNI]))) >= 7
        GROUP BY DNI
        HAVING COUNT(*) > 1;
        
        ;WITH PersonasRankeadas AS (
            SELECT
                UPPER(LTRIM(RTRIM([Nombre]))) AS Nombre,
                UPPER(LTRIM(RTRIM([Apellido]))) AS Apellido,
                LTRIM(RTRIM([DNI])) AS DNI,
                LOWER(LTRIM(RTRIM(REPLACE([Email], ' ', '')))) AS Email, 
                LTRIM(RTRIM(REPLACE([Telefono], ' ', ''))) AS Telefono,
                
                -- =========================================================
                -- CORRECCIÓN: "SUPER-TRIM" AGRESIVO (incluye espacios)
                REPLACE(
                    REPLACE(REPLACE(REPLACE(
                    LTRIM(RTRIM([CVU/CBU])), 
                    CHAR(13), ''), CHAR(10), ''), CHAR(9), ''), 
                ' ', '') AS CBUVCVU,
                -- =========================================================

                CASE 
                    WHEN REPLACE(REPLACE(REPLACE(LTRIM(RTRIM([Inquilino])), CHAR(13), ''), CHAR(10), ''), CHAR(9), '') = '1' THEN 1
                    WHEN REPLACE(REPLACE(REPLACE(LTRIM(RTRIM([Inquilino])), CHAR(13), ''), CHAR(10), ''), CHAR(9), '') = '0' THEN 0
                    ELSE 0
                END AS EsInquilino,
                ROW_NUMBER() OVER (
                    PARTITION BY LTRIM(RTRIM([DNI])) 
                    ORDER BY CASE 
                        WHEN REPLACE(REPLACE(REPLACE(LTRIM(RTRIM([Inquilino])), CHAR(13), ''), CHAR(10), ''), CHAR(9), '') = '1' THEN 1
                        ELSE 0
                    END DESC
                ) AS RowNum
            FROM dbo.stg_Personas
            WHERE [DNI] IS NOT NULL 
              AND LTRIM(RTRIM([DNI])) <> ''
              AND [DNI] NOT LIKE '%-%'
              AND LEN(LTRIM(RTRIM([DNI]))) >= 7
        )
        SELECT 
            Nombre, Apellido, DNI, Email, Telefono, CBUVCVU, EsInquilino
        INTO #PersonasLimpias
        FROM PersonasRankeadas
        WHERE RowNum = 1;
        
        CREATE CLUSTERED INDEX IX_PersonasLimpias_DNI ON #PersonasLimpias (DNI);
        
        DECLARE @idTipoPropietario INT, @idTipoInquilino INT;
        
        SELECT @idTipoPropietario = idTipoPersona FROM dbo.tipoPersona WHERE descripcion = 'PROPIETARIO';
        SELECT @idTipoInquilino = idTipoPersona FROM dbo.tipoPersona WHERE descripcion = 'INQUILINO';

        IF @idTipoPropietario IS NULL OR @idTipoInquilino IS NULL
        BEGIN
            RAISERROR('Tipos de persona "PROPIETARIO" o "INQUILINO" no encontrados en dbo.tipoPersona.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        MERGE INTO dbo.persona AS T
        USING (
            SELECT 
                DNI, Nombre, Apellido, Email, Telefono, CBUVCVU,
                CASE 
                    WHEN EsInquilino = 1 THEN @idTipoInquilino
                    ELSE @idTipoPropietario
                END AS idTipoPersona_FK
            FROM #PersonasLimpias
        ) AS S
        ON (T.DNI = S.DNI)
        
        WHEN MATCHED THEN
            UPDATE SET 
                T.Nombre = S.Nombre, 
                T.Apellido = S.Apellido, 
                T.Email = S.Email, 
                T.Telefono = S.Telefono, 
                T.CBUVCVU = S.CBUVCVU, -- Se actualiza el CBU con el dato limpio
                T.idTipoPersona_FK = S.idTipoPersona_FK
        
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (DNI, Nombre, Apellido, Email, Telefono, CBUVCVU, idTipoPersona_FK)
            VALUES (S.DNI, S.Nombre, S.Apellido, S.Email, S.Telefono, S.CBUVCVU, S.idTipoPersona_FK);
        
        DROP TABLE #PersonasLimpias;
        DROP TABLE #Duplicados;
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        DECLARE @ErrorLine INT = ERROR_LINE();
        
        DECLARE @ErrorMessageCompleto NVARCHAR(4000) = 
            'Error en sp_ImportaInquilinos: ' + @ErrorMessage + 
            ' (Línea: ' + CAST(@ErrorLine AS VARCHAR(10)) + ')';
        
        RAISERROR(@ErrorMessageCompleto, @ErrorSeverity, @ErrorState);
    END CATCH
    
    SET NOCOUNT OFF;
END
