USE [TP_BASE_DE_DATOS_2025_GRUPO_3]
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportaPagos]    Script Date: 03/11/2025 08:03:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ImportaPagos]
	@RutaArchivo NVARCHAR(1000)
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;
	
-- =================================================================
	--EXTRACCION (CARGAMOS EL ARCHIVO)
-- =================================================================

	IF OBJECT_ID('tempdb..#pagosALimpiar') IS NOT NULL
   		DROP TABLE #pagosALimpiar;

	CREATE TABLE #pagosALimpiar 
	(
		idPago VARCHAR(50),
		fecha VARCHAR(50),
		cuenta_origen VARCHAR(50),
		importe VARCHAR(50)
	);
	
	DECLARE @Sql NVARCHAR(MAX);
	SET @Sql = N'
		BULK INSERT #pagosALimpiar
		FROM ''' + @RutaArchivo + N'''
		WITH(
			FORMAT = ''CSV'',
			FIRSTROW = 2,
			FIELDTERMINATOR = '','', 
			ROWTERMINATOR = ''\n'',
			CODEPAGE = ''65001''
		);';

	EXEC sp_executesql @Sql;

-- =================================================================
	--TRANSFORMACION y CARGA (Corregidas con MERGE)
-- =================================================================

    -- Creamos una tabla temporal limpia
    IF OBJECT_ID('tempdb..#PagosLimpios') IS NOT NULL
        DROP TABLE #PagosLimpios;

    SELECT
        TRY_CAST(idPago AS INT) AS idPago,
        TRY_CAST(fecha AS DATE) AS fecha,
        cuenta_origen,
        TRY_CAST(REPLACE(REPLACE(REPLACE(importe, '$', ''), '.', ''), ',', '.') AS DECIMAL(12, 2)) AS importe
    INTO #PagosLimpios
    FROM #pagosALimpiar
    WHERE 
        ISDATE(fecha) = 1 
        AND ISNUMERIC(importe) = 1 
        AND ISNUMERIC(idPago) = 1;

    -- OPTIMIZACIÓN: Indexamos la tabla temporal por la clave de unión
    CREATE UNIQUE CLUSTERED INDEX IX_#PagosLimpios ON #PagosLimpios(idPago);

    -- CARGA con MERGE
    MERGE INTO dbo.pago AS T -- Target (Objetivo)
    USING #PagosLimpios AS S -- Source (Fuente)
    ON (T.idPago = S.idPago) -- La clave para detectar duplicados

    -- Si el idPago YA EXISTE, actualizamos (ej. si el importe cambió)
    WHEN MATCHED THEN
        UPDATE SET
            T.fecha = S.fecha,
            T.importe = S.importe,
            T.cuenta_origen = S.cuenta_origen

    -- Si el idPago NO EXISTE, lo insertamos
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (idPago, fecha, importe, cuenta_origen)
        VALUES (S.idPago, S.fecha, S.importe, S.cuenta_origen);


	DROP TABLE #pagosALimpiar;
    DROP TABLE #PagosLimpios;

	COMMIT TRANSACTION;
		
	PRINT 'Importación completada exitosamente.';
		
	END TRY
	BEGIN CATCH
		IF OBJECT_ID('tempdb..#pagosALimpiar') IS NOT NULL
			DROP TABLE #pagosALimpiar;
        IF OBJECT_ID('tempdb..#PagosLimpios') IS NOT NULL
			DROP TABLE #PagosLimpios;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
		
		DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
		DECLARE @ErrorMessageCompleto NVARCHAR(4000) = 'Error: ' + @ErrorMessage + ' (Línea: ' + CAST(ERROR_LINE() AS VARCHAR(10)) + ')';
		
		RAISERROR(@ErrorMessageCompleto, 16, 1); 
	END CATCH

    SET NOCOUNT OFF;
END	
