USE [TP_BDD_FINAL]
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportarConsorcios]    Script Date: 16/11/2025 01:22:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[sp_ImportarConsorcios]
	@RutaArchivo NVARCHAR(1000)
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;
	
	TRUNCATE TABLE dbo.stg_Consorcios;
	
	DECLARE @Sql NVARCHAR(MAX);
	SET @Sql = N'
		BULK INSERT dbo.stg_Consorcios
		FROM ''' + @RutaArchivo + N'''
		WITH(
			FORMAT = ''CSV'',
			FIRSTROW = 2,
			FIELDTERMINATOR = '','',
			ROWTERMINATOR = ''0x0a'',
			CODEPAGE = ''65001''
		);';

	EXEC sp_executesql @Sql;

	IF OBJECT_ID('tempdb..#ConsorciosLimpios') IS NOT NULL
		DROP TABLE #ConsorciosLimpios;

	SELECT
		TRY_CAST(REPLACE(LTRIM(RTRIM([Consorcio])), 'Consorcio ', '') AS INT) AS numeroConsorcio,
		LTRIM(RTRIM([Nombre del consorcio])) AS Nombre,
		LTRIM(RTRIM([Domicilio])) AS Direccion,
        TRY_CAST(LTRIM(RTRIM([Cant unidades funcionales])) AS INT) AS CantUnidades,
        TRY_CAST(LTRIM(RTRIM([m2 totales])) AS INT) AS M2Totales
	INTO #ConsorciosLimpios
	FROM dbo.stg_Consorcios
	WHERE [Nombre del consorcio] IS NOT NULL;
	
	CREATE CLUSTERED INDEX IX_#ConsorciosLimpios ON #ConsorciosLimpios (numeroConsorcio);

	MERGE INTO dbo.consorcio AS T
	USING #ConsorciosLimpios AS S
	ON (T.numeroConsorcio = S.numeroConsorcio)

	WHEN MATCHED THEN
		UPDATE SET 
			T.nombre = S.Nombre,
			T.direccion = S.Direccion,
			T.cantidad_unidades = S.CantUnidades,
			T.metros_cuadrados_totales = S.M2Totales

	WHEN NOT MATCHED BY TARGET THEN
		INSERT (numeroConsorcio, nombre, direccion, cantidad_unidades, metros_cuadrados_totales)
		VALUES (S.numeroConsorcio, S.Nombre, S.Direccion, S.CantUnidades, S.M2Totales);

	COMMIT TRANSACTION;
		
	DROP TABLE #ConsorciosLimpios;
		
	END TRY
	BEGIN CATCH
		IF OBJECT_ID('tempdb..#ConsorciosLimpios') IS NOT NULL
			DROP TABLE #ConsorciosLimpios;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
		
		DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
		DECLARE @ErrorMessageCompleto NVARCHAR(4000) = 'Error: ' + @ErrorMessage + ' (Línea: ' + CAST(ERROR_LINE() AS VARCHAR(10)) + ')';
		
		RAISERROR(@ErrorMessageCompleto, 16, 1); 
	END CATCH

	SET NOCOUNT OFF;
END	
