USE [TP_BASE_DE_DATOS_2025_GRUPO_3]
GO
-- =============================================
-- Author:		Grupo 3
-- Description:	Importa la relación N-a-N entre Personas y UF.
-- CORRECCIÓN:
--   - Se usan los nombres de columna correctos de
--     stg_Inquilinos_UF (ej. [Nombre del consorcio])
-- =============================================
ALTER PROCEDURE [dbo].[sp_ImportarRelacion_UF_Persona]
	@RutaArchivo NVARCHAR(1000)
AS
BEGIN
	SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
-- =================================================================
-- EXTRACCION
-- =================================================================
        TRUNCATE TABLE dbo.stg_Inquilinos_UF;
		
		DECLARE @Sql NVARCHAR(MAX);
		SET @Sql = N'
			BULK INSERT dbo.stg_Inquilinos_UF
			FROM ''' + @RutaArchivo + N'''
			WITH(
                FIRSTROW = 2,
				FIELDTERMINATOR = ''|'', -- Separador Pipe
				ROWTERMINATOR = ''0x0a'',
				CODEPAGE = ''65001'',
				TABLOCK
			);';
		EXEC sp_executesql @Sql;

-- =================================================================
-- TRANSFORMACION (CORREGIDA)
-- =================================================================
		IF OBJECT_ID('tempdb..#RelacionesLimpias') IS NOT NULL
			DROP TABLE #RelacionesLimpias;
		
		SELECT 
			c.idconsorcio,
			p.idPropietario,
			i.idInquilino,
			uf.idunidadFuncional,
			s.[CVU/CBU] AS CBU_CSV
		INTO #RelacionesLimpias
		FROM dbo.stg_Inquilinos_UF s -- Staging (tiene [Nombre del consorcio], [piso], [departamento])
		LEFT JOIN dbo.consorcio c 
			ON UPPER(LTRIM(RTRIM(REPLACE(s.[Nombre del consorcio], 'Consorcio ', '')))) = UPPER(LTRIM(RTRIM(c.nombre)))
        
        -- Usamos los nombres de columna correctos: s.[piso] y s.[departamento]
		LEFT JOIN dbo.unidadFuncional uf 
			ON c.idconsorcio = uf.consorcio_idconsorcio 
			AND UPPER(LTRIM(RTRIM(s.[piso]))) = UPPER(LTRIM(RTRIM(uf.piso)))
			AND UPPER(LTRIM(RTRIM(s.[departamento]))) = UPPER(LTRIM(RTRIM(uf.descripcion_identificacion)))
        
        -- Usamos el nombre de columna correcto: s.[CVU/CBU]
		LEFT JOIN dbo.propietario p 
			ON s.[CVU/CBU] = p.CBUVCVU
		LEFT JOIN dbo.inquilino i 
			ON s.[CVU/CBU] = i.CBUVCVU;
        -- ### FIN DE LA CORRECCIÓN ###

		-- Validación (Esta ya no debería fallar)
		IF EXISTS (SELECT 1 FROM #RelacionesLimpias WHERE idconsorcio IS NULL)
			RAISERROR('Error: Existen consorcios en el CSV que no se encuentran en la tabla dbo.consorcio.', 16, 1);
		IF EXISTS (SELECT 1 FROM #RelacionesLimpias WHERE idunidadFuncional IS NULL)
			RAISERROR('Error: Existen UFs en el CSV que no se encuentran en la tabla dbo.unidadFuncional.', 16, 1);
		IF EXISTS (SELECT 1 FROM #RelacionesLimpias WHERE idPropietario IS NULL AND idInquilino IS NULL)
			RAISERROR('Error: Existen CBUs en el CSV que no se encuentran en dbo.propietario NI en dbo.inquilino.', 16, 1);

-- =================================================================
-- CARGA (en la tabla N-a-N)
-- =================================================================
		-- 1. Vincular Propietarios
        MERGE INTO dbo.unidadFuncional_has_persona AS T
        USING (SELECT DISTINCT idunidadFuncional, idPropietario FROM #RelacionesLimpias WHERE idPropietario IS NOT NULL AND idunidadFuncional IS NOT NULL) AS S
        ON (T.unidadFuncional_idunidadFuncional = S.idunidadFuncional AND T.propietario_idPropietario = S.idPropietario)
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (unidadFuncional_idunidadFuncional, propietario_idPropietario)
            VALUES (S.idunidadFuncional, S.idPropietario);
		
		DECLARE @PropietariosVinculados INT = @@ROWCOUNT;

		-- 2. Vincular Inquilinos
        MERGE INTO dbo.unidadFuncional_has_persona AS T
        USING (SELECT DISTINCT idunidadFuncional, idInquilino FROM #RelacionesLimpias WHERE idInquilino IS NOT NULL AND idunidadFuncional IS NOT NULL) AS S
        ON (T.unidadFuncional_idunidadFuncional = S.idunidadFuncional AND T.inquilino_idInquilino = S.idInquilino)
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (unidadFuncional_idunidadFuncional, inquilino_idInquilino)
            VALUES (S.idunidadFuncional, S.idInquilino);
		
		DECLARE @InquilinosVinculados INT = @@ROWCOUNT;
        
        DROP TABLE #RelacionesLimpias;
        COMMIT TRANSACTION;
        
        PRINT 'Importación de Relaciones UF-Persona (N-a-N) completada.';
        PRINT CONCAT('Propietarios vinculados: ', @PropietariosVinculados);
        PRINT CONCAT('Inquilinos vinculados: ', @InquilinosVinculados);
        
    END TRY
    BEGIN CATCH
        IF OBJECT_ID('tempdb..#RelacionesLimpias') IS NOT NULL
            DROP TABLE #RelacionesLimpias;
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorMessageCompleto NVARCHAR(4000) = 'Error: ' + @ErrorMessage + ' (Línea: ' + CAST(ERROR_LINE() AS VARCHAR(10)) + ')';
        RAISERROR(@ErrorMessageCompleto, 16, 1);
    END CATCH
    
    SET NOCOUNT OFF;
END
GO