USE [TP_BDD_FINAL]
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportarUnidadesFuncionales]    Script Date: 16/11/2025 01:22:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   PROCEDURE [dbo].[sp_ImportarUnidadesFuncionales]
    @RutaArchivo NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        TRUNCATE TABLE dbo.stg_UnidadFuncional;
        
        DECLARE @Sql NVARCHAR(MAX);
        SET @Sql = N'
            BULK INSERT dbo.stg_UnidadFuncional
            FROM ''' + @RutaArchivo + N'''
            WITH(
                FORMAT = ''CSV'',
                FIRSTROW = 2,
                FIELDTERMINATOR = ''\t'',
                ROWTERMINATOR = ''0x0a'',
                CODEPAGE = ''65001'',
                TABLOCK
            );';
        EXEC sp_executesql @Sql;
        
        IF OBJECT_ID('tempdb..#UFLimpias') IS NOT NULL
            DROP TABLE #UFLimpias;
        
        SELECT
            c.idconsorcio,
            CASE 
                WHEN UPPER(LTRIM(RTRIM(s.[Piso]))) = 'PB' THEN 0
                WHEN UPPER(LTRIM(RTRIM(s.[Piso]))) = 'PLANTA BAJA' THEN 0
                ELSE TRY_CAST(s.[Piso] AS INT)
            END AS Piso,
            UPPER(LTRIM(RTRIM(s.[departamento]))) AS Descripcion,
            TRY_CAST(REPLACE(s.[m2_unidad_funcional], ',', '.') AS DECIMAL(10,2)) AS M2_UF
        INTO #UFLimpias
        FROM dbo.stg_UnidadFuncional AS s
        INNER JOIN dbo.consorcio AS c 
            ON UPPER(LTRIM(RTRIM(s.[Nombre del consorcio]))) = UPPER(LTRIM(RTRIM(c.nombre)))
        WHERE s.[nroUnidadFuncional] IS NOT NULL 
          AND LTRIM(RTRIM(s.[nroUnidadFuncional])) <> '';
        
        IF EXISTS (SELECT 1 FROM #UFLimpias WHERE Piso IS NULL)
        BEGIN
            DECLARE @PisosInvalidos NVARCHAR(500);
            SELECT @PisosInvalidos = STRING_AGG(CAST(Piso AS NVARCHAR(10)), ', ')
            FROM #UFLimpias 
            WHERE Piso IS NULL;
            
            RAISERROR('Error: Se encontraron pisos que no se pudieron convertir a número: %s', 16, 1, @PisosInvalidos);
        END
        
        CREATE CLUSTERED INDEX IX_UFLimpias 
            ON #UFLimpias (idconsorcio, Piso, Descripcion);
        
        MERGE INTO dbo.unidadFuncional AS T
        USING #UFLimpias AS S
        ON (T.consorcio_idconsorcio = S.idconsorcio 
            AND T.piso = S.Piso 
            AND T.descripcion_identificacion = S.Descripcion)
        
        WHEN MATCHED THEN
            UPDATE SET 
                T.metros_cuadrados = S.M2_UF
        
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (piso, descripcion_identificacion, metros_cuadrados, consorcio_idconsorcio)
            VALUES (S.Piso, S.Descripcion, S.M2_UF, S.idconsorcio);
        
        DROP TABLE #UFLimpias;
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        IF OBJECT_ID('tempdb..#UFLimpias') IS NOT NULL
            DROP TABLE #UFLimpias;
            
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        DECLARE @ErrorLine INT = ERROR_LINE();
        
        DECLARE @ErrorMessageCompleto NVARCHAR(4000) = 
            'Error en sp_ImportarUnidadesFuncionales (Línea: ' + 
            CAST(@ErrorLine AS VARCHAR(10)) + '): ' + @ErrorMessage;
        
        RAISERROR(@ErrorMessageCompleto, @ErrorSeverity, @ErrorState);
    END CATCH
    
    SET NOCOUNT OFF;
END
