USE [TP_BASE_DE_DATOS_2025_GRUPO_3]
GO

ALTER PROCEDURE [dbo].[sp_importar_servicios_json]
    @RutaArchivo NVARCHAR(MAX),
    @AnoImportacion INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- PASO 1: Cargar JSON
    TRUNCATE TABLE dbo.stg_Servicios;
    DECLARE @Sql NVARCHAR(MAX) = N'
    INSERT INTO dbo.stg_Servicios (JsonData)
    SELECT BulkColumn
    FROM OPENROWSET(BULK ''' + @RutaArchivo + ''', SINGLE_CLOB) AS json;';
    EXEC sp_executesql @Sql;

    -- PASO 2: Parsear y transformar
    DECLARE @Gastos TABLE (
        idConsorcio INT, Mes INT, Ano INT,
        TipoGasto VARCHAR(100), Importe DECIMAL(14, 2)
    );

    WITH 
    JsonParsed AS (
        SELECT 
            -- CORRECCIÓN: Usamos JSON_VALUE en el valor del item para extraer las propiedades
            JSON_VALUE(j_item.value, '$.Nombre del consorcio') AS [Nombre del consorcio],
            LTRIM(RTRIM(JSON_VALUE(j_item.value, '$.Mes'))) AS Mes, 
            j_gastos.[key] AS TipoGasto,
            j_gastos.value AS ImporteGasto_sucio
        FROM dbo.stg_Servicios s
        -- 1. Parseamos la matriz JSON (el arreglo principal)
        CROSS APPLY OPENJSON(s.JsonData) AS j_item 
        -- 2. Parseamos el objeto de cada item (j_item.value) para sacar los gastos
        CROSS APPLY OPENJSON(j_item.value) AS j_gastos 
        WHERE 
            -- Excluimos las claves de metadatos (el _id solo existe en el objeto interno)
            j_gastos.[key] NOT IN ('_id', 'Nombre del consorcio', 'Mes')
            AND JSON_VALUE(j_item.value, '$.Nombre del consorcio') IS NOT NULL
    ),
    DatosLimpios AS (
        SELECT
            c.idconsorcio,
            CASE jp.Mes
                WHEN 'enero' THEN 1 WHEN 'febrero' THEN 2 WHEN 'marzo' THEN 3
                WHEN 'abril' THEN 4 WHEN 'mayo' THEN 5 WHEN 'junio' THEN 6
                WHEN 'julio' THEN 7 WHEN 'agosto' THEN 8 WHEN 'septiembre' THEN 9
                WHEN 'octubre' THEN 10 WHEN 'noviembre' THEN 11 WHEN 'diciembre' THEN 12
            END AS Mes,
            @AnoImportacion AS Ano,
            jp.TipoGasto,
            
            -- LÓGICA DE NÚMEROS AVANZADA (Se mantiene, es correcta)
            CASE
                WHEN CHARINDEX('.', jp.ImporteGasto_sucio) = 0 AND CHARINDEX(',', jp.ImporteGasto_sucio) > 0
                THEN TRY_CAST(REPLACE(jp.ImporteGasto_sucio, ',', '') AS DECIMAL(14, 2)) / 100
                WHEN CHARINDEX('.', jp.ImporteGasto_sucio) > CHARINDEX(',', jp.ImporteGasto_sucio)
                THEN TRY_CAST(REPLACE(jp.ImporteGasto_sucio, ',', '') AS DECIMAL(14, 2))
                WHEN CHARINDEX(',', jp.ImporteGasto_sucio) > CHARINDEX('.', jp.ImporteGasto_sucio)
                THEN TRY_CAST(REPLACE(REPLACE(jp.ImporteGasto_sucio, '.', ''), ',', '.') AS DECIMAL(14, 2))
                ELSE TRY_CAST(jp.ImporteGasto_sucio AS DECIMAL(14, 2))
            END AS ImporteLimpio
            
        FROM 
            JsonParsed jp 
        JOIN dbo.consorcio c 
            ON UPPER(LTRIM(RTRIM(jp.[Nombre del consorcio]))) = UPPER(LTRIM(RTRIM(c.nombre)))
    )
    INSERT INTO @Gastos (idConsorcio, Mes, Ano, TipoGasto, Importe)
    SELECT idconsorcio, Mes, Ano, TipoGasto, ImporteLimpio
    FROM DatosLimpios
    WHERE ImporteLimpio IS NOT NULL AND ImporteLimpio > 0;
    
    -- PASO 3, 4 y 5 (Se mantienen igual)
    MERGE INTO dbo.expensa AS T
    USING (SELECT DISTINCT idConsorcio, Mes, Ano FROM @Gastos) AS S
    ON (T.consorcio_idconsorcio = S.idConsorcio AND T.mes = S.Mes AND T.ano = S.Ano)
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (consorcio_idconsorcio, mes, ano, fecha_emision)
        VALUES (S.idConsorcio, S.Mes, S.Ano, GETDATE());

    DECLARE @FacturaServicioMap TABLE (idFactura INT, TipoGasto VARCHAR(100));
    MERGE INTO dbo.factura AS T
    USING (
        SELECT g.Importe, DATEFROMPARTS(g.Ano, g.Mes, 1) AS FechaFactura, e.idExpensa, g.TipoGasto
        FROM @Gastos g
        JOIN dbo.expensa e ON g.idConsorcio = e.consorcio_idconsorcio AND g.Mes = e.mes AND g.Ano = e.ano
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.factura f JOIN dbo.servicio s ON f.idFactura = s.factura_idFactura
            WHERE f.idExpensa = e.idExpensa AND s.nombre_empresa = g.TipoGasto
        )
    ) AS S
    ON (1 = 0)
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (Importe, fecha, idExpensa)
        VALUES (S.Importe, S.FechaFactura, S.idExpensa)
    OUTPUT inserted.idFactura, S.TipoGasto
    INTO @FacturaServicioMap (idFactura, TipoGasto);

    INSERT INTO dbo.servicio (factura_idFactura, nombre_empresa)
    SELECT fsm.idFactura, fsm.TipoGasto
    FROM @FacturaServicioMap fsm;

    PRINT 'Importación de Servicios JSON completada.';
    PRINT CONCAT('Se crearon/vincularon ', @@ROWCOUNT, ' nuevos registros de servicio.');

END;