USE [TP_BDD_FINAL]
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportaRelacionUF_Personas]    Script Date: 16/11/2025 01:22:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_ImportaRelacionUF_Personas]
    @RutaArchivo NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        TRUNCATE TABLE dbo.stg_Inquilinos_UF;
        
        DECLARE @Sql NVARCHAR(MAX);
        SET @Sql = N'
            BULK INSERT dbo.stg_Inquilinos_UF
            FROM ''' + @RutaArchivo + N'''
            WITH(
                FIRSTROW = 2,
                FIELDTERMINATOR = ''|'',
                ROWTERMINATOR = ''0x0D0A'',
                CODEPAGE = ''65001'',
                TABLOCK
            );';
        
        EXEC sp_executesql @Sql;
        
        IF NOT EXISTS (SELECT 1 FROM dbo.stg_Inquilinos_UF)
        BEGIN
            RAISERROR('ERROR: No se importaron registros del archivo CSV.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- ============================================================
        -- DIAGNÓSTICO: Ver qué datos tenemos en staging
        -- ============================================================
        PRINT '--- DATOS EN STAGING ---';
        SELECT TOP 5 * FROM dbo.stg_Inquilinos_UF;
        
        IF OBJECT_ID('tempdb..#RelacionesLimpias') IS NOT NULL 
            DROP TABLE #RelacionesLimpias;
        
        SELECT
            LTRIM(RTRIM(s.[CVU/CBU])) AS CBUVCVU,
            LTRIM(RTRIM(s.[Nombre del consorcio])) AS NombreConsorcio,
            CASE 
                WHEN UPPER(LTRIM(RTRIM(s.[piso]))) = 'PB' THEN 0
                WHEN UPPER(LTRIM(RTRIM(s.[piso]))) = 'SS' THEN -1
                WHEN UPPER(LTRIM(RTRIM(s.[piso]))) = 'EP' THEN 0
                WHEN LTRIM(RTRIM(s.[piso])) = '' THEN 0
                ELSE TRY_CAST(LTRIM(RTRIM(s.[piso])) AS INT) 
            END AS Piso,
            UPPER(LTRIM(RTRIM(s.[departamento]))) AS Departamento
        INTO #RelacionesLimpias
        FROM dbo.stg_Inquilinos_UF s
        WHERE s.[CVU/CBU] IS NOT NULL 
          AND LTRIM(RTRIM(s.[CVU/CBU])) <> ''
          AND s.[Nombre del consorcio] IS NOT NULL;

        PRINT '--- DATOS LIMPIOS ---';
        SELECT TOP 5 * FROM #RelacionesLimpias;

        IF EXISTS (SELECT 1 FROM #RelacionesLimpias WHERE Piso IS NULL)
        BEGIN
            RAISERROR('ERROR: Hay valores de PISO inválidos en el archivo.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- ============================================================
        -- ACTUALIZACIÓN CORREGIDA
        -- ============================================================
        
        -- Primero verificamos los matches que vamos a hacer
        IF OBJECT_ID('tempdb..#MatchesEncontrados') IS NOT NULL 
            DROP TABLE #MatchesEncontrados;
            
        SELECT 
            rl.CBUVCVU,
            p.idPersona,
            p.Nombre,
            p.Apellido,
            c.nombre AS ConsorcioNombre,
            uf.idunidadFuncional,
            uf.piso,
            uf.descripcion_identificacion
        INTO #MatchesEncontrados
        FROM #RelacionesLimpias rl
        INNER JOIN dbo.consorcio c 
            ON UPPER(LTRIM(RTRIM(c.nombre))) = UPPER(LTRIM(RTRIM(rl.NombreConsorcio)))
        INNER JOIN dbo.unidadFuncional uf 
            ON uf.consorcio_idconsorcio = c.idconsorcio
            AND uf.piso = rl.Piso
            AND UPPER(LTRIM(RTRIM(uf.descripcion_identificacion))) = UPPER(LTRIM(RTRIM(rl.Departamento)))
        INNER JOIN dbo.persona p 
            ON LTRIM(RTRIM(p.CBUVCVU)) = LTRIM(RTRIM(rl.CBUVCVU));
        
        PRINT '--- MATCHES ENCONTRADOS ---';
        PRINT 'Total de matches: ' + CAST(@@ROWCOUNT AS VARCHAR(10));
        SELECT TOP 5 * FROM #MatchesEncontrados;
        
        -- Si no hay matches, mostrar dónde está el problema
        IF NOT EXISTS (SELECT 1 FROM #MatchesEncontrados)
        BEGIN
            PRINT '--- DIAGNÓSTICO: No se encontraron matches ---';
            
            -- Verificar consorcios
            PRINT 'Consorcios en DB vs CSV:';
            SELECT DISTINCT 
                c.nombre AS ConsorcioEnDB,
                rl.NombreConsorcio AS ConsorcioEnCSV
            FROM dbo.consorcio c
            FULL OUTER JOIN (SELECT DISTINCT NombreConsorcio FROM #RelacionesLimpias) rl
                ON UPPER(LTRIM(RTRIM(c.nombre))) = UPPER(LTRIM(RTRIM(rl.NombreConsorcio)));
            
            -- Verificar CBU/CVU
            PRINT 'Personas con CBU en DB vs CSV:';
            SELECT COUNT(*) AS PersonasConCBU_DB FROM dbo.persona WHERE CBUVCVU IS NOT NULL;
            SELECT COUNT(DISTINCT CBUVCVU) AS CBU_EnCSV FROM #RelacionesLimpias;
            
            -- Sample de CBUs
            SELECT TOP 3 CBUVCVU FROM dbo.persona WHERE CBUVCVU IS NOT NULL;
            SELECT TOP 3 CBUVCVU FROM #RelacionesLimpias;
        END
        
        -- Realizar el UPDATE
        UPDATE p
        SET p.idUnidadFuncional_FK = m.idunidadFuncional
        FROM dbo.persona p
        INNER JOIN #MatchesEncontrados m ON p.idPersona = m.idPersona;
        
        DECLARE @PersonasVinculadas INT = @@ROWCOUNT;
        
        PRINT '--- RESULTADO ---';
        PRINT 'Personas vinculadas: ' + CAST(@PersonasVinculadas AS VARCHAR(10));
        
        -- Verificación final
        SELECT 
            COUNT(*) AS PersonasConUFAsignada
        FROM dbo.persona 
        WHERE idUnidadFuncional_FK IS NOT NULL;
        
        DROP TABLE #RelacionesLimpias;
        DROP TABLE #MatchesEncontrados;
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorLine INT = ERROR_LINE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
    
    SET NOCOUNT OFF;
END
