USE ENTREGA_FINAL_BDD_GRUPO_3
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportaPagos]    Script Date: 16/11/2025 01:22:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   PROCEDURE [dbo].[sp_ImportaPagos]
	@RutaArchivo NVARCHAR(1000)
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION;
	
	IF OBJECT_ID('tempdb..#pagosALimpiar') IS NOT NULL DROP TABLE #pagosALimpiar;
	CREATE TABLE #pagosALimpiar	(
		idPago VARCHAR(50), 
		fecha VARCHAR(50), 
		cuenta_origen VARCHAR(50), 
		importe VARCHAR(50)
	);
	
	DECLARE @Sql NVARCHAR(MAX);
	SET @Sql = N'
		BULK INSERT #pagosALimpiar
		FROM ''' + @RutaArchivo + N'''
		WITH(
			FORMAT = ''CSV'',
			FIRSTROW = 2,
			FIELDTERMINATOR = '','', 
			ROWTERMINATOR = ''\n'',
			CODEPAGE = ''65001''
		);';
	EXEC sp_executesql @Sql;

	IF OBJECT_ID('tempdb..#PagosLimpios') IS NOT NULL DROP TABLE #PagosLimpios;
	SELECT
		TRY_CAST(idPago AS INT) AS idPago,
		TRY_CONVERT(DATE, fecha, 103) AS fecha,
		cuenta_origen,
		TRY_CAST(REPLACE(REPLACE(REPLACE(importe, '$', ''), '.', ''), ',', '.') AS DECIMAL(12, 2)) AS importe
	INTO #PagosLimpios
	FROM #pagosALimpiar
	WHERE 
		TRY_CONVERT(DATE, fecha, 103) IS NOT NULL 
		AND ISNUMERIC(REPLACE(REPLACE(REPLACE(importe, '$', ''), '.', ''), ',', '.')) = 1
		AND ISNUMERIC(idPago) = 1;

	CREATE UNIQUE CLUSTERED INDEX IX_#PagosLimpios ON #PagosLimpios(idPago);

	SET IDENTITY_INSERT dbo.pago ON;
	
	MERGE INTO dbo.pago AS T
	USING #PagosLimpios AS S
	ON (T.idPago = S.idPago)
	
	WHEN MATCHED THEN
		UPDATE SET 
			T.fecha = S.fecha,
			T.importe = S.importe, 
			T.cuenta_origen = S.cuenta_origen,
			T.asociado = NULL
	
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (idPago, fecha, importe, cuenta_origen, asociado)
		VALUES (S.idPago, S.fecha, S.importe, S.cuenta_origen, NULL);
	
	SET IDENTITY_INSERT dbo.pago OFF;

	DROP TABLE #pagosALimpiar;
	DROP TABLE #PagosLimpios;

	COMMIT TRANSACTION;
	
	END TRY
	BEGIN CATCH
		IF OBJECT_ID('tempdb..#pagosALimpiar') IS NOT NULL DROP TABLE #pagosALimpiar;
		IF OBJECT_ID('tempdb..#PagosLimpios') IS NOT NULL DROP TABLE #PagosLimpios;
		
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
		
		DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
		DECLARE @ErrorMessageCompleto NVARCHAR(4000) = 
			'Error en sp_ImportaPagos: ' + @ErrorMessage + 
			' (Línea: ' + CAST(ERROR_LINE() AS VARCHAR(10)) + ')';
		
		RAISERROR(@ErrorMessageCompleto, 16, 1); 
	END CATCH
	
	SET NOCOUNT OFF;
END
