USE ENTREGA_FINAL_BDD_GRUPO_3
GO
/****** Object:  StoredProcedure [dbo].[sp_importar_servicios_json]    Script Date: 16/11/2025 01:22:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE OR ALTER   PROCEDURE [dbo].[sp_importar_servicios_json]
    @RutaArchivo NVARCHAR(MAX),
    @AnoImportacion INT = 2025 
AS
BEGIN
    SET NOCOUNT ON;
    
    IF OBJECT_ID('tempdb..#DatosLimpios') IS NOT NULL DROP TABLE #DatosLimpios;
    IF OBJECT_ID('tempdb..#ConsorcioLimpio') IS NOT NULL DROP TABLE #ConsorcioLimpio;

    BEGIN TRY
        BEGIN TRANSACTION;
    
        TRUNCATE TABLE dbo.stg_Servicios;
        DECLARE @Sql NVARCHAR(MAX) = N'
        INSERT INTO dbo.stg_Servicios (JsonData)
        SELECT BulkColumn
        FROM OPENROWSET(BULK ''' + @RutaArchivo + ''', SINGLE_CLOB) AS json;';
        EXEC sp_executesql @Sql;

        DECLARE @Gastos TABLE (
            idConsorcio INT, Mes INT, Ano INT,
            TipoGasto VARCHAR(100), Importe DECIMAL(14, 2), EsDolar TINYINT
        );

        SELECT 
            idconsorcio, 
            UPPER(LTRIM(RTRIM(nombre))) AS NombreLimpio
        INTO #ConsorcioLimpio
        FROM dbo.consorcio;

        CREATE UNIQUE CLUSTERED INDEX IX_ConsLimpio ON #ConsorcioLimpio(NombreLimpio);

        WITH 
        JsonParsed AS (
            SELECT 
                JSON_VALUE(j_item.value, '$."Nombre del consorcio"') AS [Nombre del consorcio],
                LTRIM(RTRIM(JSON_VALUE(j_item.value, '$."Mes"'))) AS Mes, 
                j_gastos.[key] AS TipoGasto,
                j_gastos.value AS ImporteGasto_sucio
            FROM dbo.stg_Servicios s
            CROSS APPLY OPENJSON(s.JsonData) AS j_item 
            CROSS APPLY OPENJSON(j_item.value) AS j_gastos 
            WHERE 
                j_gastos.[key] NOT IN ('_id', 'Nombre del consorcio', 'Mes')
                AND JSON_VALUE(j_item.value, '$."Nombre del consorcio"') IS NOT NULL
        )
        SELECT
            c.idconsorcio,
            CASE LTRIM(RTRIM(jp.Mes))
                WHEN 'enero' THEN 1 WHEN 'febrero' THEN 2 WHEN 'marzo' THEN 3
                WHEN 'abril' THEN 4 WHEN 'mayo' THEN 5 WHEN 'junio' THEN 6
                WHEN 'julio' THEN 7 WHEN 'agosto' THEN 8 WHEN 'septiembre' THEN 9
                WHEN 'octubre' THEN 10 WHEN 'noviembre' THEN 11 WHEN 'diciembre' THEN 12
            END AS MesNum,
            LTRIM(RTRIM(jp.Mes)) AS MesStr,
            @AnoImportacion AS Ano,
            jp.TipoGasto COLLATE Modern_Spanish_CI_AS AS TipoGasto, 
            dbo.conversorMoneda(jp.ImporteGasto_sucio) AS ImporteLimpio,
            dbo.detectorMoneda(jp.ImporteGasto_sucio) AS EsDolar
        INTO #DatosLimpios 
        FROM 
            JsonParsed jp 
        JOIN #ConsorcioLimpio c 
            ON UPPER(LTRIM(RTRIM(jp.[Nombre del consorcio]))) COLLATE Modern_Spanish_CI_AS = c.NombreLimpio;


        INSERT INTO @Gastos (idConsorcio, Mes, Ano, TipoGasto, Importe, EsDolar)
        SELECT idconsorcio, MesNum, Ano, TipoGasto, ImporteLimpio, EsDolar
        FROM #DatosLimpios
        WHERE ImporteLimpio IS NOT NULL AND ImporteLimpio > 0;
        
        MERGE INTO dbo.expensa AS T
        USING (SELECT DISTINCT idConsorcio, Mes, Ano FROM @Gastos) AS S
        ON (T.consorcio_idconsorcio = S.idConsorcio AND T.mes = S.Mes AND T.ano = S.Ano)
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (consorcio_idconsorcio, mes, ano, fecha_emision)
            VALUES (S.idConsorcio, S.Mes, S.Ano, GETDATE());

        DECLARE @FacturaServicioMap TABLE (idFactura INT, TipoGasto VARCHAR(100), EsDolar TINYINT);
        
        -- =================================================================
        -- INICIO DE LA CORRECCIÓN
        -- Se elimina 'idExpensa' del INSERT y de la lógica de duplicados
        -- =================================================================
        MERGE INTO dbo.factura AS T
        USING (
            SELECT 
                g.Importe, 
                g.TipoGasto,
                g.EsDolar,
                C.nombre AS ConsorcioNombre,
                (SELECT TOP 1 DL.MesStr 
                 FROM #DatosLimpios DL 
                 WHERE DL.idconsorcio = g.idConsorcio 
                   AND DL.MesNum = g.Mes 
                   AND DL.Ano = g.Ano 
                   AND DL.TipoGasto = g.TipoGasto) AS MesStr
            FROM @Gastos g
            JOIN dbo.expensa e ON g.idConsorcio = e.consorcio_idconsorcio AND g.Mes = e.mes AND g.Ano = e.ano
            JOIN dbo.consorcio C ON g.idConsorcio = C.idconsorcio
            WHERE NOT EXISTS (
                SELECT 1 FROM dbo.factura f 
                JOIN dbo.servicio s ON f.idFactura = s.factura_idFactura
                WHERE f.consorcio_nombre = C.nombre
                  AND f.mes = (SELECT TOP 1 DL.MesStr FROM #DatosLimpios DL WHERE DL.idconsorcio = g.idConsorcio AND DL.MesNum = g.Mes AND DL.Ano = g.Ano AND DL.TipoGasto = g.TipoGasto)
                  AND f.importe_tipo = g.TipoGasto
                  AND s.nombre_empresa = g.TipoGasto
            )
        ) AS S
        ON (1 = 0) 
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (importe, consorcio_nombre, mes, importe_tipo, es_dolar) 
            VALUES (S.Importe, S.ConsorcioNombre, S.MesStr, S.TipoGasto, S.EsDolar) 
        OUTPUT inserted.idFactura, S.TipoGasto, S.EsDolar
        INTO @FacturaServicioMap (idFactura, TipoGasto, EsDolar);
        -- =================================================================
        -- FIN DE LA CORRECCIÓN
        -- =================================================================

        INSERT INTO dbo.servicio (factura_idFactura, nombre_empresa)
        SELECT fsm.idFactura, fsm.TipoGasto
        FROM @FacturaServicioMap fsm;

        DROP TABLE #DatosLimpios; 
        DROP TABLE #ConsorcioLimpio;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF OBJECT_ID('tempdb..#DatosLimpios') IS NOT NULL DROP TABLE #DatosLimpios; 
        IF OBJECT_ID('tempdb..#ConsorcioLimpio') IS NOT NULL DROP TABLE #ConsorcioLimpio;
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorMessageCompleto NVARCHAR(4000) = 'Error: ' + @ErrorMessage + ' (Línea: ' + CAST(ERROR_LINE() AS VARCHAR(10)) + ')';
        RAISERROR(@ErrorMessageCompleto, 16, 1);
    END CATCH
END;
