USE ENTREGA_FINAL_BDD_GRUPO_3
GO
/****** Object:  StoredProcedure [dbo].[sp_Reporte_2_RecaudacionPorDepto]    Script Date: 16/11/2025 01:19:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE OR ALTER   PROCEDURE [dbo].[sp_Reporte_2_RecaudacionPorDepto]
    @Anio INT,
    @ConsorcioNombre VARCHAR(100) = NULL,
    @Piso INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE Spanish;

    IF @Anio IS NULL
    BEGIN
        RAISERROR('El parámetro @Anio es obligatorio', 16, 1);
        RETURN;
    END

    ;WITH TodosLosMeses AS (
        SELECT 1 AS MesNumero, 'enero' AS NombreMes
        UNION ALL SELECT 2, 'febrero'
        UNION ALL SELECT 3, 'marzo'
        UNION ALL SELECT 4, 'abril'
        UNION ALL SELECT 5, 'mayo'
        UNION ALL SELECT 6, 'junio'
        UNION ALL SELECT 7, 'julio'
        UNION ALL SELECT 8, 'agosto'
        UNION ALL SELECT 9, 'septiembre'
        UNION ALL SELECT 10, 'octubre'
        UNION ALL SELECT 11, 'noviembre'
        UNION ALL SELECT 12, 'diciembre'
    ),
    
    PagosConDepartamento AS (
        SELECT 
            MONTH(p.fecha) AS MesNumero,
            DATENAME(MONTH, p.fecha) AS NombreMes,
            p.importe,
            uf.descripcion_identificacion AS Departamento,
            uf.piso,
            c.nombre AS ConsorcioNombre
            
        FROM dbo.pago p
        
        INNER JOIN dbo.persona per 
            ON LTRIM(RTRIM(p.cuenta_origen)) = LTRIM(RTRIM(per.CBUVCVU))
        
        INNER JOIN dbo.unidadFuncional uf 
            ON per.idUnidadFuncional_FK = uf.idunidadFuncional
        
        INNER JOIN dbo.consorcio c 
            ON uf.consorcio_idconsorcio = c.idconsorcio
        
        WHERE
            YEAR(p.fecha) = @Anio
            AND (@ConsorcioNombre IS NULL OR c.nombre = @ConsorcioNombre)
            AND (@Piso IS NULL OR uf.piso = @Piso)
            AND uf.descripcion_identificacion IS NOT NULL
            AND p.importe > 0
            AND per.idUnidadFuncional_FK IS NOT NULL
    ),

    RecaudacionAgregada AS (
        SELECT 
            MesNumero,
            NombreMes,
            Departamento,
            SUM(importe) AS TotalRecaudado
        FROM PagosConDepartamento
        GROUP BY MesNumero, NombreMes, Departamento
    ),
    
    RecaudacionCompleta AS (
        SELECT 
            m.MesNumero,
            m.NombreMes,
            ISNULL(r.Departamento, 'A') AS Departamento,
            ISNULL(r.TotalRecaudado, 0) AS TotalRecaudado
        FROM TodosLosMeses m
        LEFT JOIN RecaudacionAgregada r ON m.MesNumero = r.MesNumero
    )

    SELECT 
        MesNumero,
        NombreMes AS Mes,
        ISNULL([A], 0.00) AS Depto_A,
        ISNULL([B], 0.00) AS Depto_B,
        ISNULL([C], 0.00) AS Depto_C,
        ISNULL([D], 0.00) AS Depto_D,
        ISNULL([E], 0.00) AS Depto_E,
        (ISNULL([A], 0) + ISNULL([B], 0) + ISNULL([C], 0) + ISNULL([D], 0) + ISNULL([E], 0)) AS Total_Mes
    FROM RecaudacionCompleta
    PIVOT (
        SUM(TotalRecaudado)
        FOR Departamento IN ([A], [B], [C], [D], [E])
    ) AS PivotTable
    ORDER BY MesNumero;

    SET NOCOUNT OFF;
END
