USE ENTREGA_FINAL_BDD_GRUPO_3
GO
/****** Object:  StoredProcedure [dbo].[sp_Reporte_6_1_FlujoCajaSemanal]    Script Date: 16/11/2025 01:19:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   PROCEDURE [dbo].[sp_Reporte_6_1_FlujoCajaSemanal]
    @FechaInicio DATE = NULL,
    @FechaFin DATE = NULL,
    @ConsorcioNombre VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH PagosConConsorcio AS (
        SELECT 
            p.fecha,
            p.importe,
            c.nombre AS ConsorcioNombre
        FROM dbo.pago p
        
        -- ==================
        -- CORRECCIÓN AQUÍ:
        -- "Blindamos" el JOIN contra espacios en blanco
        INNER JOIN dbo.persona per 
            ON LTRIM(RTRIM(p.cuenta_origen)) = LTRIM(RTRIM(per.CBUVCVU))
        -- ==================
        
        INNER JOIN dbo.unidadFuncional uf 
            ON per.idUnidadFuncional_FK = uf.idunidadFuncional
            
        INNER JOIN dbo.consorcio c 
            ON uf.consorcio_idconsorcio = c.idconsorcio

        WHERE
            (@FechaInicio IS NULL OR p.fecha >= @FechaInicio)
            AND (@FechaFin IS NULL OR p.fecha <= @FechaFin)
            AND (@ConsorcioNombre IS NULL OR c.nombre = @ConsorcioNombre)
            -- Si el SP de importación (corregido) funciona,
            -- esta condición ahora encontrará filas.
            AND per.idUnidadFuncional_FK IS NOT NULL
    ),

    PagosAgrupadosPorSemana AS (
        SELECT
            YEAR(fecha) AS Anio,
            DATEPART(iso_week, fecha) AS Semana,
            MIN(fecha) AS Semana_Inicio,
            MAX(fecha) AS Semana_Fin,
            SUM(importe) AS TotalOrdinario, 
            0.00 AS TotalExtraordinario
        FROM PagosConConsorcio
        GROUP BY YEAR(fecha), DATEPART(iso_week, fecha)
    )

    SELECT
        Anio,
        Semana,
        CONCAT(CONVERT(varchar, Semana_Inicio, 103), ' - ', CONVERT(varchar, Semana_Fin, 103)) AS PeriodoSemanal,
        TotalOrdinario,
        TotalExtraordinario,
        (TotalOrdinario + TotalExtraordinario) AS TotalSemanal,
        SUM(TotalOrdinario + TotalExtraordinario) OVER (
            ORDER BY Anio, Semana
            ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
        ) AS AcumuladoProgresivo,
        AVG(TotalOrdinario + TotalExtraordinario) OVER () AS PromedioSemanalDelPeriodo
    FROM PagosAgrupadosPorSemana
    ORDER BY
        Anio, Semana;
END
