USE TP_BASES_DE_DATOS_APLICADA_GRUPO_3
GO

-- ==============================================================================
-- REPORTE 4: Top 5 Meses con Mayores Gastos e Ingresos
-- ==============================================================================
-- Este reporte usa los datos REALES de las facturas cargadas desde el JSON
-- ==============================================================================

CREATE OR ALTER PROCEDURE [dbo].[sp_Reporte_4_GastosIngresos]
    @IdConsorcio INT = NULL,
    @AnioDesde INT = NULL,
    @AnioHasta INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- ========================================================================
    -- TOP 5 MESES CON MAYORES GASTOS (calculados desde facturas reales)
    -- ========================================================================
    PRINT '--- TOP 5 MESES CON MAYORES GASTOS ---';
    
    SELECT TOP 5
        e.ano AS Año,
        e.mes AS Mes,
        c.nombre AS Consorcio,
        SUM(f.importe) AS TotalGastos,
        COUNT(f.idFactura) AS CantidadFacturas
    FROM dbo.expensa e
    INNER JOIN dbo.consorcio c ON e.consorcio_idconsorcio = c.idconsorcio
    INNER JOIN dbo.factura f ON f.consorcio_nombre = c.nombre
    LEFT JOIN dbo.servicio s ON s.factura_idFactura = f.idFactura
    WHERE 
        (@IdConsorcio IS NULL OR c.idconsorcio = @IdConsorcio)
        AND (@AnioDesde IS NULL OR e.ano >= @AnioDesde)
        AND (@AnioHasta IS NULL OR e.ano <= @AnioHasta)
        AND f.importe IS NOT NULL
        AND f.importe > 0
    GROUP BY 
        e.ano, 
        e.mes, 
        c.nombre
    ORDER BY TotalGastos DESC;

    -- ========================================================================
    -- TOP 5 MESES CON MAYORES INGRESOS (calculados desde pagos asociados)
    -- ========================================================================
    PRINT '';
    PRINT '--- TOP 5 MESES CON MAYORES INGRESOS (PAGOS) ---';
    
    SELECT TOP 5
        YEAR(p.fecha) AS Año,
        MONTH(p.fecha) AS Mes,
        DATENAME(MONTH, p.fecha) AS NombreMes,
        SUM(p.importe) AS TotalIngresos,
        COUNT(p.idPago) AS CantidadPagos
    FROM dbo.pago p
    WHERE 
        p.importe IS NOT NULL
        AND p.importe > 0
        AND (@AnioDesde IS NULL OR YEAR(p.fecha) >= @AnioDesde)
        AND (@AnioHasta IS NULL OR YEAR(p.fecha) <= @AnioHasta)
    GROUP BY 
        YEAR(p.fecha),
        MONTH(p.fecha),
        DATENAME(MONTH, p.fecha)
    ORDER BY TotalIngresos DESC;

    -- ========================================================================
    -- RESUMEN: GASTOS vs INGRESOS POR MES (Balance)
    -- ========================================================================
    PRINT '';
    PRINT '--- BALANCE: GASTOS vs INGRESOS POR MES ---';
    
    WITH GastosMensuales AS (
        SELECT 
            e.ano,
            e.mes,
            c.nombre AS Consorcio,
            SUM(f.importe) AS TotalGastos
        FROM dbo.expensa e
        INNER JOIN dbo.consorcio c ON e.consorcio_idconsorcio = c.idconsorcio
        INNER JOIN dbo.factura f ON f.consorcio_nombre = c.nombre
        WHERE 
            (@IdConsorcio IS NULL OR c.idconsorcio = @IdConsorcio)
            AND (@AnioDesde IS NULL OR e.ano >= @AnioDesde)
            AND (@AnioHasta IS NULL OR e.ano <= @AnioHasta)
        GROUP BY e.ano, e.mes, c.nombre
    ),
    IngresosMensuales AS (
        SELECT 
            YEAR(p.fecha) AS ano,
            MONTH(p.fecha) AS mes,
            SUM(p.importe) AS TotalIngresos
        FROM dbo.pago p
        WHERE 
            (@AnioDesde IS NULL OR YEAR(p.fecha) >= @AnioDesde)
            AND (@AnioHasta IS NULL OR YEAR(p.fecha) <= @AnioHasta)
        GROUP BY YEAR(p.fecha), MONTH(p.fecha)
    )
    SELECT 
        COALESCE(g.ano, i.ano) AS Año,
        COALESCE(g.mes, i.mes) AS Mes,
        g.Consorcio,
        ISNULL(g.TotalGastos, 0) AS Gastos,
        ISNULL(i.TotalIngresos, 0) AS Ingresos,
        ISNULL(i.TotalIngresos, 0) - ISNULL(g.TotalGastos, 0) AS Balance
    FROM GastosMensuales g
    FULL OUTER JOIN IngresosMensuales i 
        ON g.ano = i.ano AND g.mes = i.mes
    ORDER BY 
        COALESCE(g.ano, i.ano) DESC,
        COALESCE(g.mes, i.mes) DESC;

END;
GO
