USE TP_BASES_DE_DATOS_APLICADA_GRUPO_3
GO


CREATE OR ALTER PROCEDURE [dbo].[sp_Reporte_5_Morosidad]
    @ConsorcioId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    PRINT '--- TOP 3 PROPIETARIOS CON MAYOR MOROSIDAD ---';
    PRINT '';

    -- ========================================================================
    -- Identificar propietarios que NO tienen pagos registrados
    -- o tienen pagos insuficientes
    -- ========================================================================
    
    WITH PropietariosConPagos AS (
        SELECT 
            p.idPersona,
            p.Nombre,
            p.Apellido,
            p.DNI,
            p.Email,
            p.Telefono,
            p.CBUVCVU,
            c.nombre AS Consorcio,
            uf.piso,
            uf.descripcion_identificacion AS Departamento,
            COUNT(pag.idPago) AS CantidadPagos,
            ISNULL(SUM(pag.importe), 0) AS TotalPagado
        FROM dbo.persona p
        INNER JOIN dbo.tipoPersona tp ON p.idTipoPersona_FK = tp.idTipoPersona
        INNER JOIN dbo.unidadFuncional uf ON p.idUnidadFuncional_FK = uf.idunidadFuncional
        INNER JOIN dbo.consorcio c ON uf.consorcio_idconsorcio = c.idconsorcio
        LEFT JOIN dbo.pago pag ON p.CBUVCVU = pag.cuenta_origen
        WHERE 
            tp.descripcion = 'PROPIETARIO'
            AND (@ConsorcioId IS NULL OR c.idconsorcio = @ConsorcioId)
        GROUP BY 
            p.idPersona,
            p.Nombre,
            p.Apellido,
            p.DNI,
            p.Email,
            p.Telefono,
            p.CBUVCVU,
            c.nombre,
            uf.piso,
            uf.descripcion_identificacion
    ),
    GastosEstimados AS (
        SELECT 
            c.nombre AS Consorcio,
            AVG(f.importe) AS GastoPromedioMensual
        FROM dbo.factura f
        INNER JOIN dbo.consorcio c ON f.consorcio_nombre = c.nombre
        GROUP BY c.nombre
    )
    SELECT TOP 3
        pcp.idPersona,
        pcp.Nombre,
        pcp.Apellido,
        pcp.DNI,
        pcp.Email,
        pcp.Telefono,
        pcp.Consorcio,
        pcp.Departamento,
        pcp.CantidadPagos AS PagosRealizados,
        pcp.TotalPagado,
        ISNULL(ge.GastoPromedioMensual * 6, 0) AS DeudaEstimada6Meses,
        CASE 
            WHEN pcp.CantidadPagos = 0 THEN 'SIN PAGOS'
            WHEN pcp.TotalPagado < (ge.GastoPromedioMensual * 3) THEN 'MOROSIDAD ALTA'
            ELSE 'MOROSIDAD MODERADA'
        END AS NivelMorosidad
    FROM PropietariosConPagos pcp
    LEFT JOIN GastosEstimados ge ON pcp.Consorcio = ge.Consorcio
    WHERE pcp.CantidadPagos < 6  -- Propietarios con menos de 6 pagos
    ORDER BY pcp.CantidadPagos ASC, pcp.TotalPagado ASC;

    -- ========================================================================
    -- RESUMEN: Estadísticas generales de morosidad
    -- ========================================================================
    PRINT '';
    PRINT '--- RESUMEN DE MOROSIDAD ---';
    
    SELECT 
        COUNT(DISTINCT p.idPersona) AS TotalPropietarios,
        COUNT(DISTINCT CASE WHEN pag.idPago IS NULL THEN p.idPersona END) AS PropietariosSinPagos,
        COUNT(DISTINCT CASE WHEN pag.idPago IS NOT NULL THEN p.idPersona END) AS PropietariosConPagos,
        CAST(
            (COUNT(DISTINCT CASE WHEN pag.idPago IS NULL THEN p.idPersona END) * 100.0) 
            / NULLIF(COUNT(DISTINCT p.idPersona), 0)
        AS DECIMAL(5,2)) AS PorcentajeMorosidad
    FROM dbo.persona p
    INNER JOIN dbo.tipoPersona tp ON p.idTipoPersona_FK = tp.idTipoPersona
    LEFT JOIN dbo.pago pag ON p.CBUVCVU = pag.cuenta_origen
    WHERE tp.descripcion = 'PROPIETARIO'
        AND (@ConsorcioId IS NULL OR p.idUnidadFuncional_FK IN (
            SELECT idunidadFuncional 
            FROM dbo.unidadFuncional 
            WHERE consorcio_idconsorcio = @ConsorcioId
        ));

END;
GO